doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet",href='css/ejercicio-pug.css')
	body
		header
			h1 PlatziGames
			a.boton Registro
		section.intro
			.intro__imagen: img(src="./images/imagen.png")
			.intro__contenido
				h2 Titulo Principal
				p 
					| Lorem, ipsum dolor sit amet consectetur 
					| adipisicing elit. Illum, repudiandae! 
					| Quisquam pariatur impedit esse 
					| perspiciatis totam quibusdam excepturi 
					| aut quis consequuntur aliquam, placeat 
					| eos velit veritatis inventore explicabo
					| dolorem iste.
					span Proin sed urna quis orci interdum rutrum. Integer rhoncus finibus nunc, ac portittor ex dapibus ac.
				a.boton Leer Mas 